/* Variables */

// Colors
$primaryColor: #14517d;
$dangerColor: #b01e17;
$grey: #9e9d9d;

// Shadow
$baseShadow: 0px 4px 4px #00000040;

// Bulma
$divider-background-color: #000;
$divider-color: #000;
$divider-thickness: 0.3rem;